<ion-content class="ion-padding" [fullscreen]="true">
  <div class="espace"></div>
  <div class="go-back" id="get-back">
    <ion-button fill="clear" (click)="goHome()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <!-- Profil -->
  <div class="profile-card ion-text-center">
    <img class="profile-image" src="assets/img/profile.jpg" alt="Profile Photo">
    <h2 class="name">Richard A. Bachmann</h2>
    <p class="title">UI/UX Designer</p>
    <div class="stats">
      <div>
        <h3>75k</h3>
        <p>Followers</p>
      </div>
      <div>
        <h3>16k</h3>
        <p>Followings</p>
      </div>
      <div>
        <h3>600</h3>
        <p>Projects</p>
      </div>
    </div>
  </div>

  <!-- Folders -->
  <div class="folder-container">
    <div class="folder-title">
      <ion-item lines="none">
        <ion-label class="titre"><strong>Folders</strong></ion-label>
        <ion-button fill="clear" size="small">Voir Tout</ion-button>
      </ion-item>
    </div>

    <div class="folders">
      <ion-card class="folder-card">
        <ion-item lines="none">
          <ion-icon name="folder-outline" slot="start"></ion-icon>
          <div class="folder-info">
            <ion-label>
              <h3>Dribbble Shots</h3>
              <p>Created 28 Feb 2022</p>
            </ion-label>
            <div class="avatars">
              <ion-avatar>
                <img src="assets/img/team1.jpg" />
              </ion-avatar>
              <ion-avatar>
                <img src="assets/img/team1.jpg" />
              </ion-avatar>
            </div>
          </div>
        </ion-item>
      </ion-card>
      <ion-card class="folder-card">
        <ion-item lines="none">
          <ion-icon name="folder-outline" slot="start"></ion-icon>
          <div class="folder-info">
            <ion-label>
              <h3>Dribbble Shots</h3>
              <p>Created 28 Feb 2022</p>
            </ion-label>
            <div class="avatars">
              <ion-avatar>
                <img src="assets/img/team2.jpg" />
              </ion-avatar>
            </div>
          </div>
        </ion-item>
      </ion-card>
    </div>
  
  </div>

  <!-- My Team -->
  <div class="my-team-container">
    <ion-item lines="none">
      <ion-label class="titre"><strong>My Team</strong></ion-label>
      <ion-button fill="clear" size="small">Voir Tout</ion-button>
    </ion-item>

    <ion-list>
      <ion-item lines="none">
        <ion-icon name="briefcase-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>E-Commerce Application</h3>
          <p>Project in Progress</p>
        </ion-label>
        <ion-avatar slot="end">
          <img src="assets/img/team1.jpg">
        </ion-avatar>
      </ion-item>
  
      <ion-item lines="none">
        <ion-icon name="fast-food-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Food Project</h3>
          <p>Completed</p>
        </ion-label>
        <ion-avatar slot="end">
          <img src="assets/img/team2.jpg">
        </ion-avatar>
      </ion-item>
  
      <ion-item lines="none">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>E-Book Project</h3>
          <p>Project in Progress</p>
        </ion-label>
        <ion-avatar slot="end">
          <img src="assets/img/team3.jpg">
        </ion-avatar>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="briefcase-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>E-Commerce Application</h3>
          <p>Project in Progress</p>
        </ion-label>
        <ion-avatar slot="end">
          <img src="assets/img/team1.jpg">
        </ion-avatar>
      </ion-item>
  
      <ion-item lines="none">
        <ion-icon name="fast-food-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Food Project</h3>
          <p>Completed</p>
        </ion-label>
        <ion-avatar slot="end">
          <img src="assets/img/team2.jpg">
        </ion-avatar>
      </ion-item>
  
      <ion-item lines="none">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>E-Book Project</h3>
          <p>Project in Progress</p>
        </ion-label>
        <ion-avatar slot="end">
          <img src="assets/img/team3.jpg">
        </ion-avatar>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="briefcase-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>E-Commerce Application</h3>
          <p>Project in Progress</p>
        </ion-label>
        <ion-avatar slot="end">
          <img src="assets/img/team1.jpg">
        </ion-avatar>
      </ion-item>
  
      <ion-item lines="none">
        <ion-icon name="fast-food-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Food Project</h3>
          <p>Completed</p>
        </ion-label>
        <ion-avatar slot="end">
          <img src="assets/img/team2.jpg">
        </ion-avatar>
      </ion-item>
  
      <ion-item lines="none">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>E-Book Project</h3>
          <p>Project in Progress</p>
        </ion-label>
        <ion-avatar slot="end">
          <img src="assets/img/team3.jpg">
        </ion-avatar>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
