// Couleurs principales
$primary-color:  #145494;
$secondary-color: #e8f0fe;
$text-color: #333;
$light-gray: #f7f7f7;

  ion-content {
    --background: #fff;
    --padding-start: 5px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 12px;
    background-color: white;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    .icon {
      position: relative;
      font-size: 20px;
        ion-icon{
          color: $primary-color;
        }
      }
      .title {
        font-weight: 600;
        font-size: 16px;
        color: #333;
      }
    
      .notification {
        position: relative;
      }
    
      .notification-bell{
        img{
          width: 23px;
          margin-right: 3px;
        }
      }
      // .notification-bell::before {
      //   content: "🔔";
      //   font-size: 20px;
      // }
    
      .badge {
        position: absolute;
        top: -2px;
        right: -2px;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 8px;
        height: 8px;
      }
  }
  


  .welcome-header {
    padding-left: 5px;
    padding-right: 5px;
    h2 {
      font-size: 22px;
      font-weight: 600;
      color: $primary-color;
      margin: 0;
    }

    p {
      margin-top: 2px;
      color: gray;
      font-size: 14px;
    }
  }

  ion-searchbar {
    --background: white;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    margin: 16px 0;
  }

  .welcome-card {
    border: 1px solid $primary-color;
    border-radius: 20px;
    background: none;
    color: gray;
    ion-card-title {
      color: $primary-color;
      font-size: 18px;
      font-weight: 500;
    }
    ion-card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    img {
      width: 80px;
      height: 80px;
      aspect-ratio: 4/3;
      object-fit: contain;
      // mix-blend-mode: color-burn;
    }
  }

  .ongoing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 8px;

    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: $text-color;
    }

    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      font-size: 14px;
      color: $primary-color;
    }
  }

  ion-grid {
    ion-col {
      padding: 8px 4px;
    }
  }

  .add-button{
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    border-top: 1px solid #ccc;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Exactement 3 colonnes */
    gap: 16px;
  }

  .padding-bottom{
    padding-bottom: 150px;
  }


  @media (max-width: 900px) {
    .project-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .project-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  

